In [16]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [17]:
datapath='advertising.csv'
df = pd.read_csv(datapath, encoding="gbk")
df.head()

   wechat  weibo  others  sales
0   304.4   93.6   294.4    9.7
1  1011.9   34.4   398.4   16.7
2  1091.1   32.8   295.2   17.3
3    85.5  173.6   403.2    7.0
4  1047.0  302.4   553.6   22.1

In [18]:
df.describe()

            wechat       weibo      others       sales
count   200.000000  200.000000  200.000000  200.000000
mean    669.046500  186.112000  244.432000   15.130500
std     390.638071  118.774473  174.228967    5.283892
min       3.200000    0.000000    2.400000    1.600000
25%     338.425000   79.800000  102.000000   11.000000
50%     681.350000  183.200000  206.000000   16.000000
75%     995.675000  292.200000  360.800000   19.050000
max    1348.600000  396.800000  912.000000   27.000000

In [19]:
def normalize_feature(df):
    return (df-df.mean())/df.std()

In [20]:
df = normalize_feature(df)
df.head()

     wechat     weibo    others     sales
0 -0.933464 -0.778888  0.286795 -1.027746
1  0.877676 -1.277311  0.883711  0.297035
2  1.080421 -1.290782  0.291387  0.410587
3 -1.493829 -0.105343  0.911261 -1.538733
4  0.967529  0.979066  1.774493  1.319009

In [21]:
df.insert(0,'ones',1)
df.head()

   ones    wechat     weibo    others     sales
0     1 -0.933464 -0.778888  0.286795 -1.027746
1     1  0.877676 -1.277311  0.883711  0.297035
2     1  1.080421 -1.290782  0.291387  0.410587
3     1 -1.493829 -0.105343  0.911261 -1.538733
4     1  0.967529  0.979066  1.774493  1.319009

In [22]:
X=df.iloc[:,0:-1]
Y=df.iloc[:,-1]

In [23]:
X = X.values
Y = Y.values
Y=Y.reshape(200,1)

### 损失函数

In [24]:
def costfunction(X,Y,theta):
    inner = np.power(X @ theta-Y,2)
    return np.sum(inner/(2*len(X)))

In [25]:
theta=np.zeros((4,1))
theta

array([[0.],
       [0.],
       [0.],
       [0.]])

In [26]:
cost_init=costfunction(X,Y,theta)

In [27]:
print(cost_init)

0.49749999999999994

### 梯度下降函数

In [28]:
def tiduxiajiang(X,Y,theta,alpha,iters):
    costs = []
    for i in range(iters):
        theta = theta -(X.T @ (X@theta - Y))* alpha/len(X)
        cost = costfunction(X,Y,theta)
        costs.append(cost)
        if i%100 ==0:
            print(cost)
    return theta,costs

In [29]:
alpha=0.002
iters=2000
theta,costs=tiduxiajiang(X,Y,theta,alpha,iters)

0.4956024824362752
0.3419917921860433
0.24210457969487453
0.17680799594755037
0.1339089631053839
0.1055907471997751
0.08681335302902492
0.07430920846500055
0.0659487236137176
0.060337068927705614
0.05655638233755669
0.054000005443975596
0.05226530704510534
0.05108402294498819
0.05027675499033854
0.04972311186521053
0.04934202891265988
0.0490787440013004
0.04889614542592455
0.04876900369120323

### 最后的结果

In [30]:
theta

array([[-1.27289290e-16],
       [ 8.68279868e-01],
       [ 2.90355634e-01],
       [ 1.41935758e-02]])